<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="org.amanda.lsm" version="0.0.1">
    <name>lsm</name>
    <description>Cordova Local Storage Manager Plugin</description>
    <keywords>cordova,local storage</keywords>
    <js-module src="www/lsm.js" name="device">
        <clobbers target="lsm" />
    </js-module>
</plugin>
        T