<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        version="0.0.1">

  <name>StorageRepo</name>
  <description>A Cordova plugin that allows setting and getting of genealogical repository metadata in local storage.</description>

  <engines>
    <engine name="cordova" version=">=3.6.0" />
  </engines>

  <js-module src="www/storagerepos.js" name="StorageRepo">
    <clobbers target="StorageRepo" />
  </js-module>

  

</plugin>